<ion-header>
  <ion-toolbar>
    <ion-title>Create Employee</ion-title>
    <ion-buttons slot="end">
      <!--(click)="dismissModal()-->
      <ion-button >Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Surname:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cell:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Photo:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">ID Number:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Title:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Employee Type:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Qualification:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Qualification Type</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Employee Contract:</ion-label>
    <ion-input required="true"></ion-input>
  </ion-item>

  <br/>
  <ion-button expand="block" (click)="employeeAdd()">Create Employee</ion-button>
</ion-content>
