<ion-header>
  <ion-toolbar>
    <ion-title>Create Employee Type</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form #cEtypeForm="ngForm" (ngSubmit)="onSubmit(cEtypeForm)">-->
  <form #cEtypeForm="ngForm">

    <br/>     
        
    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <ion-input required ngModel name #nameCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!nameCtrl.valid && nameCtrl.touched">
      <p>Please enter a valid employee type name</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Description:</ion-label>
      <ion-input required ngModel name #nameCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!nameCtrl.valid && nameCtrl.touched">
      <p>Please enter a valid employee type description</p>
    </ion-text>
      
    <br/>
    <!--(click)="employeeAdd()"-->
    <ion-button expand="block" color="success">Create Employee</ion-button>
</form>
</ion-content>