<ion-header>
  <ion-toolbar>
    <ion-title>Delete Qualification Type</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="dismissModal()">Return</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form #dQtypeForm="ngForm" (ngSubmit)="onSubmit(dQtypeForm)">-->
  <form #dQtypeForm="ngForm">
    <br/>
    <ion-label class="ion-text-center">
      <h3>Are you sure you want to delete the following qualification type?</h3>
    </ion-label>
    <br/>

    <ion-item>
      <ion-label>
        <h2>Qualification Category : </h2>
        <br/>
        <!--Insert DESCRIPTION Here-->
        <p>Diploma</p>
      </ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" color="tertiary">Delete Qualification Type</ion-button>
  </form>
</ion-content>



