<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img width="200px" height="200px"src="../../assets/HIIT.jpeg"/>
  </div>    <br/><br/><br/><br/><br/>

  <form #logForm="ngForm" (ngSubmit)="onSubmit(logForm)" >
    <ion-list lines="none">
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" slot="start" color="primary">          
        </ion-icon>
        <ion-input type="email" name="mail" ngModel email #emailCtrl="ngModel" placeholder="John.Doe@Gmail.com" required></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p>Please enter a valid email address</p>
      </ion-text>
      <ion-item color="light">
        <ion-icon name="key" slot="start" color="primary"></ion-icon>
        <ion-icon [name]="passType ? 'eye-outline':'eye-off-outline'" slot="end" color="primary" (click)="updateIcn()"></ion-icon>
        <ion-input [type]="passType ? 'password' : 'text'" name="password" ngModel #passCtrl="ngModel" placeholder="********" required minlength="8"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!passCtrl.valid && passCtrl.touched">
        <p>Password should be minimum of 8 characters</p>
      </ion-text>
    </ion-list>
    <br/><br/>
    <ion-button *ngIf="!isLogin" style="margin-left:20vw;margin-right:20vw" expand="block" shape="round" type="submit" color="primary">Login</ion-button>
    <div class="ion-text-center" *ngIf="isLogin">
      <ion-button shape="round" color="primary" [disabled]="!logForm.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>      
    </div>    
  </form>
  <div class="ion-text-center">
    <a [href]="frgPass"><p>Forgot Password?</p></a><br/>
    <p>Dont have an account?</p>
    <b><a [href]="sgnUp">Sign Up</a></b>    
  </div>

</ion-content>
