<ion-header>
  <ion-toolbar>
    <ion-title>Create Venue</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form #cVenueForm="ngForm" (ngSubmit)="onSubmit(cVenueForm)">-->
  <form #cVenueForm="ngForm">
    
    <br/>
    <ion-item>
      <ion-label position="floating">Venue Name:</ion-label>
      <ion-input required ngModel name #nameCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!nameCtrl.valid && nameCtrl.touched">
      <p>Please enter a valid venue name</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Venue Address:</ion-label>
      <ion-input required ngModel address #addressCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!addressCtrl.valid && addressCtrl.touched">
      <p>Please enter a valid venue address</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Venue Postal Code:</ion-label>
      <ion-input required ngModel postal #postalCtrl="ngModel" minlength="4" maxlength="4"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!postalCtrl.valid && postalCtrl.touched">
      <p>Please enter a valid venue postal code</p>
    </ion-text>
    

    <ion-item>
      <ion-label position="floating">Venue Capacity:</ion-label>
      <ion-input type="numeric" required ngModel capacity #capacityCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!capacityCtrl.valid && capacityCtrl.touched">
      <p>Please enter a valid venue capacity</p>
    </ion-text>

    <!--<ion-button [disabled]="!cVenueForm.valid" *ngIf="!isValidVenue" expand="block" shape="round" type="submit">Login</ion-button>-->
    <ion-button expand="block" type="submit" color="success">Create Venue</ion-button>
  </form>
</ion-content>
