<ion-header>
  <ion-toolbar>
    <ion-title>Update Qualification Type</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<form #uQtypeForm="ngForm" (ngSubmit)="onSubmit(uQtypeForm)">-->
  <form #uQtypeForm="ngForm">

    <br/>     

    <ion-item>
      <ion-label position="stacked">Qualification Category:</ion-label>
      <ion-textarea required ngModel name #nameCtrl="ngModel" placeholder="Diploma"></ion-textarea>
    </ion-item>
    <ion-text color="danger" *ngIf="!nameCtrl.valid && nameCtrl.touched">
      <p>Please enter a valid qualification category</p>
    </ion-text>
      
    <br/>

    <ion-button expand="block" color="secondary">Update Qualification Type</ion-button>
</form>
</ion-content>


