<ion-header>
  <ion-toolbar>
    <ion-title>venues</ion-title>

    <!--Menu toggle button that will display the menu-->
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    <br/>
    <ion-searchbar showCancelButton="focus" expand="block" placeholder='Search Venue'></ion-searchbar>
  
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          Venue Name <br/>
          Location : Roodekrans <br/>
          Postal Code : 1945 <br/>
          Capacity : 45 <br/>
        </ion-item>
        <ion-item-options side="end" >
          <ion-item-option color="secondary" >Update </ion-item-option>
          <ion-item-option color="danger" >Delete </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
  </ion-content>
  
