<ion-header>
  <ion-toolbar>
    <ion-title>View Employees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="employee">
        <ion-label>Employee</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="employee-type">
        <ion-label>Employee Type</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="qualification">
        <ion-label>Qualification</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="qualification-type">
        <ion-label>Qualification Type</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
