<ion-content>
  
  <br/>
  <ion-searchbar showCancelButton="focus" expand="block" placeholder='I am looking for..'></ion-searchbar>

  <br/>
  <br/>

  <!--(click)= 'AddEmployee(employee)'-->
  <div class="ion-text-center">
    <ion-button color="primary" expand="block" style="margin-left:30%;margin-right:30%" (click)="addEmployeeInfoModal()">
      Add Employee 
      <ion-icon name="add" size="medium"></ion-icon>
    </ion-button>
  </div>
  

  <div style="display: inline-block;width: 350px;height: 200px;margin-bottom: 5px;" *ngFor="let employee of employees">
  <ion-grid>
        <!--NG for attribute for cards-->
       <ion-card>
         <div>
          <ion-card-header>
            <ion-avatar item-start>
              <!--**Struggling to display image**-->
              <!--Employee Image-->
              <img src="/src/assets/avatar.jpg">
            </ion-avatar>
              <ion-card-title style="color:#404040;">
                <!--Employee_Name ' ' Employee_Surname-->
                {{employee.title}} {{employee.name}}  {{employee.surname}}
              </ion-card-title>
            </ion-card-header>
         </div>
          <ion-card-content style="color:#404040;">
            <ion-row>
              <!--Employee_Type-->
              {{employee.type}}
            </ion-row>
            <ion-row>
              <!--Communication_Type | Communication-->
              {{employee.communicationType}} | {{employee.communication}}
            </ion-row>
            <br/>
            <ion-row>
              <ion-button color="secondary"><ion-icon name="refresh"></ion-icon>Update</ion-button>
              <ion-button color="tertiary"> <ion-icon name="trash" size="medium"></ion-icon>Delete </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
</ion-grid>
</div>
</ion-content>

<ion-footer style="margin-left:20px;margin-bottom: 10px;">
  Bester Strength and Conditioning | info@besterstrengthandconditioning.co.za
  <br>
</ion-footer>

