<ion-content>
  
  <br/>
  <ion-searchbar showCancelButton="focus" expand="block" placeholder='I am looking for..'></ion-searchbar>

  <br/>
  <br/>

  <!--**Put button in center of page**-->
  <!--(click)= 'AddEmployee(employee)'-->
  <ion-button color="primary" expand="block">Add Employee</ion-button>
  

  <ion-grid>
  <ion-row justify-content-end>
    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <!--NG for attribute for cards-->
       <ion-card>
         <ion-item>
            <ion-avatar item-start>
              <!--**Struggling to display image**-->
              <img src="/src/assets/avatar.jpg">
            </ion-avatar>
            <ion-card-header>
              <ion-card-title>
                <!--Employee_Name ' ' Employee_Surname-->
                Juan Zonneveld
              </ion-card-title>
            </ion-card-header>
          </ion-item>
          <ion-card-content>
            <ion-row>
              <!--Employee_Type-->
              Trainer
            </ion-row>
            <ion-row>
              <!--Communication_Type | Communication-->
              Email | zz.zonneveld@gmail.com
            </ion-row>
            <ion-row>
              <ion-button color="secondary">Update </ion-button>
              <ion-button color="danger"> Delete </ion-button>
            </ion-row>
          </ion-card-content>
        </ion-card>
    </ion-col>

    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <!--**Struggling to display image**-->
            <img src="/src/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>
              <!--Employee_Name ' ' Employee_Surname-->
              Sonali Marais
            </ion-card-title>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <!--Employee_Type-->
            Trainer
          </ion-row>
          <ion-row>
            <!--Communication_Type | Communication-->
            Email | sonalimarais001@icloud.com
          </ion-row>
          <ion-row>
            <ion-button color="secondary">Update </ion-button>
            <ion-button color="danger"> Delete </ion-button>
          </ion-row>  
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row justify-content-end>
    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <!--NG for attribute for cards-->
       <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <!--**Struggling to display image**-->
            <img src="/src/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>
              <!--Employee_Name ' ' Employee_Surname-->
              Stacey Scott
            </ion-card-title>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <!--Employee_Type-->
            Administrator
          </ion-row>
          <ion-row>
            <!--Communication_Type | Communication-->
            Mobile Number | 083 987 2364
          </ion-row>
          <ion-row>
            <ion-button color="secondary">Update </ion-button>
            <ion-button color="danger"> Delete </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <!--**Struggling to display image**-->
            <img src="/src/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>
              <!--Employee_Name ' ' Employee_Surname-->
              Luhan Smith
            </ion-card-title>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <!--Employee_Type-->
            Trainer
          </ion-row>
          <ion-row>
            <!--Communication_Type | Communication-->
            Email | smith.luhan@gmail.com
          </ion-row>
          <ion-row>
            <ion-button color="secondary">Update </ion-button>
            <ion-button color="danger"> Delete </ion-button>
          </ion-row>  
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
 
<ion-grid>
  <ion-row justify-content-end>
    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <!--NG for attribute for cards-->
       <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <!--**Struggling to display image**-->
            <img src="/src/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>
              <!--Employee_Name ' ' Employee_Surname-->
              Ruben Haddow
            </ion-card-title>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <!--Employee_Type-->
            Trainer
          </ion-row>
          <ion-row>
            <!--Communication_Type | Communication-->
            Mobile Number | 079 568 4573
          </ion-row>
          <ion-row>
            <ion-button color="secondary">Update </ion-button>
            <ion-button color="danger"> Delete </ion-button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col padding size-xs="12" size-sm="6" size-md="6" size-lg="6" align-self-stretch>
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <!--**Struggling to display image**-->
            <img src="/src/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-header>
            <ion-card-title>
              <!--Employee_Name ' ' Employee_Surname-->
              Chiante Brits
            </ion-card-title>
          </ion-card-header>
        </ion-item>
        <ion-card-content>
          <ion-row>
            <!--Employee_Type-->
            Administrator
          </ion-row>
          <ion-row>
            <!--Communication_Type | Communication-->
            Mobile Number | 063 458 4715
          </ion-row>
          <ion-row>
            <ion-button color="secondary">Update </ion-button>
            <ion-button color="danger"> Delete </ion-button>
          </ion-row>  
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
 
</ion-content>

