.ion-item {
    background-color: #f3f3f3;
}


ion-searchbar{
    --background : white;
    --color: #221f1f;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;

}

ion-grid {
    margin-left: 9%;
}
