<ion-header>
  <ion-toolbar>
    <!--'Diploma' must be replaced with the qualification_type_name Attribute-->
    <ion-title>View Diploma</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="dismissModal()" color="tertiary">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br/>

  <ion-label class="ion-text-center">
    <h3>The following employees have a 
    'Diploma' qualification type</h3>
  </ion-label>
  
  <!--ng statement here-->
  <ion-list>
    <ion-item>
      <ion-label class="ion-text-center">
        <!--Employee Name here-->
        Stacey Steward
      </ion-label>
    </ion-item>

    <!--This can be removed-->
    <ion-item>
      <ion-label class="ion-text-center">
        Juan Zonneveld
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>


