<ion-header>
  <ion-toolbar>
    <!--Here put the venue name : "Update {{venue.name}}"-->
    <ion-title>Update Venue</ion-title>
    <ion-buttons slot="end">
      <ion-button color="tertiary" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<form #uVenueForm="ngForm" (ngSubmit)="onSubmit(uVenueForm)">-->
  <form #uVenueForm="ngForm">
    <br/>
    <ion-item>
      <ion-label position="stacked">Venue Name:</ion-label>
      <!--Prepopulated Input - Venue Name-->
      <ion-input required ngModel name #nameCtrl="ngModel" placeholder="Strength Center"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!nameCtrl.valid && nameCtrl.touched">
      <p>Please enter a valid venue name</p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Venue Address:</ion-label>
      <!--Prepopulated Input - Venue Address-->
      <ion-input required ngModel address #addressCtrl="ngModel" placeholder="4819 Sadle Road, Lanseria, Johannesburg"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!addressCtrl.valid && addressCtrl.touched">
      <p>Please enter a valid venue address</p>
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Venue Postal Code:</ion-label>
      <!--Prepopulated Input - Venue Postal Code-->
      <ion-input required ngModel postal #postalCtrl="ngModel" minlength="4" maxlength="4" placeholder="1945"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!postalCtrl.valid && postalCtrl.touched">
      <p>Please enter a valid venue postal code</p>
    </ion-text>
    

    <ion-item>
      <ion-label position="stacked">Venue Capacity:</ion-label>
      <!--Prepopulated Input - Venue Capacity-->
      <ion-input type="numeric" required ngModel capacity #capacityCtrl="ngModel" placeholder="45"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="!capacityCtrl.valid && capacityCtrl.touched">
      <p>Please enter a valid venue capacity</p>
    </ion-text>

    <!--<ion-button [disabled]="!uVenueForm.valid" *ngIf="!isValidVenue" expand="block" type="submit" color="success">Update Venue</ion-button>-->
    <ion-button expand="block" type="submit" color="secondary">Update Venue</ion-button>
  </form>
</ion-content>
